.text-input-container{
    margin-top: 16px;
}

.num-input {
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    margin-top: 8px;
    box-sizing: border-box;
    border: solid 1px #BDBDBD;
}

.error { 
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #D90000;
    font-style: italic;
}